extends ../layout 

block content 
	section.content-header
		.container-fluid
			.row.mb-2
				.col-sm-6
					h1 NHÃN DỮ LIỆU
	section.content
		.container-fluid
			.row
				.col-12
					.card
						.card-body
							.row 
								.col-12 
									button.testbtn.btn.btn-primary(type='button' style = "margin: -5px 10px 10px 10px")
										| Sinh dữ liệu
									button.testbtn.btn.btn-primary(type='button' style = "margin: -5px 10px 10px 10px")
										| Gửi dữ liệu
							.row
								.col-12
									table#tab-data.table.table-bordered.table-striped
										thead
											tr
												th Nơi ở
												th Chỗ ở
												th Lương (Triệu)
												th Công việc
												th Bằng cấp
												th Tuổi
												th Người thân
												th Thẻ tín dụng
												th Phương tiện
												th Hôn nhân
												th sở thích
												th Nhãn
										tbody
											each data, index in dataList 
												tr
													each attribute in data 
														td=attribute
													td
														select.myselect2.select2.form-control(name = "label" style="width: 100%;" id = `select${index}`)
															each labelItem in labelList
																option(value=labelItem.label)=labelItem.label


block script 
	script(src="./javascript/gendata.js") 
