extends ../layout 

block content 
	section.content-header
		.container-fluid
			.row.mb-2
				.col-sm-6
					h1 NHÃN DỮ LIỆU
	section.content
		.container-fluid
			.row
				.col-12
					.card
						.card-body
							.row 
								.col-12 
									button.testbtn.btn.btn-primary(type='button' style = "margin: -5px 10px 10px 10px")
										| Sinh dữ liệu
							.row
								.col-12
									table#tab-data.table.table-bordered.table-striped
										thead
											tr
												th TT1
												th TT2
												th TT3
												th TT4
												th TT5
												th TT6
												th TT7
												th TT8
												th TT9
												th TT10
												th TT11
												th Nhãn
										tbody
											each data, index in dataList 
												tr
													each attribute in data 
														td=attribute
													td
														select.myselect2.select2.form-control(name = "label" style="width: 100%;" id = `select${index}`)
															each labelItem in labelList
																option(value=labelItem.label)=labelItem.label


block script 
	script(src="./javascript/gendata.js") 
